<div>
  <p><i class="material-icons">pie_chart</i> Statistics
    <span class="statisticsType">
    <mat-form-field>
      <mat-select [(value)]="chartType">
        <mat-option *ngFor="let type of types" [value]="type" (onSelectionChange)="toggleStatistics($event, type)">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        </span>
  </p>
    <canvas  baseChart height="200px"
            [data]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType">
    </canvas>
</div>
