$border-inp: 1px solid gray;
$color: #31bbb5;
$whiteColor: white;

p{
  font-weight: 800;
  font-size: 2em;
  color: $color;
  margin-bottom: 0;
}

i{
  padding-right: 0.1em;
  padding-left: 0.3em;
}

.statisticsType{
  float: right;
  font-size: 0.7em;
  padding-top: 0.2em;
}

select {
  background-color: $whiteColor;
  border: 2px solid $color;
  color: $color;
  outline: none;
  border-radius: 0.3em;
  padding: 0 0.5em;
}
