<div id="statistics">
  <p>
    <span class="statisticsType">
    <mat-form-field>
      <mat-select [(value)]="chartType" id="statistics-type">
        <mat-option *ngFor="let type of types" [value]="type" (onSelectionChange)="toggleStatistics($event, type)">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
        </span>
  </p>
    <canvas  baseChart height="220px"
            [data]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType">
    </canvas>
</div>
