<div>
  <p><i class="fa fa-area-chart"></i> Statistics
    <span class="statisticsType">
      <select (click)="toggleStatistics($event.target.value)">
        <option class="statisticsType" value='line'>line</option>
        <option class="statisticsType" value='bar'>bar</option>
      </select>
        </span>
  </p>
    <canvas  baseChart height="220px"
            [data]="chartData"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType">
    </canvas>
</div>
