<div id="check-all" class="list-js">
  <i class="fa fa-square-o" #fakeCheckAll (click)="clickAllInput()"></i>
  <input
    hidden
    #checkAllInp
    type="checkbox"
    name="memberall"
    (click)="checkAll()"
  >
  Check all
</div>
<div class="list-cont" id="list-cont">
<div
  *ngFor="let member of items; let i = index"
  class="list list-js" id="list{{i}}"
  draggable="true"
  (dragstart)="dragStart($event)"
  (click)="getInput($event)"
  >
  <a title="{{member.name}}" class="">
    <i #fakeCheck class="fake-check fa fa-square-o"></i>
    <input
      #listInp
      hidden
      id="{{member._id}}"
      type="checkbox"
      name="member"
      value="{{member.name}}"
      (click)="addChosenPartsToWheel($event)"
    >{{member.name}}
  </a>
  <img src="assets/{{member.image}}">
</div>
</div>
