$border-inp: 1px solid gray;
$color: #009688;
$whiteColor: white;

.grid-list{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.item-list, .add-form{
  flex: 1;
  min-width: 250px;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

@media (max-width: 650px) {
  .item-list, .add-form{
    min-width: 320px;
  }
}

#check-all{
  color: $color;
  font-weight: 900;
}

.list-cont{
  overflow-y: scroll;
  height: auto;
  max-height: 34em;
}

mat-selection-list div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-list-option{
  min-width: 0;
  flex: auto;
  .div-flex{
    text-transform: uppercase;
    font-weight: 700;
    color: $color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
  }
  .item-name-flex {
    flex-basis: 60%;
    min-width: 0;
    a {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  img{
    width: 1.7em;
    height: 1.7em;
  }
}

.show-mod-menu{
  flex-basis: 3em;
  color: $color;
}

.delete-item, .modify-item{
  i {
    font-size: 1.2em;
  }
  font-weight: 500;
  vertical-align: middle;
}

.modify-item{
  color: #d2a33f;
}

.delete-item {
  color: #721c24;
}

.pop-up {
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  min-width: 22em;
  margin: auto;
  width: 33%;
  z-index: 1000000001;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
  p {
    color: $color;
    font-weight: 900;
    font-size: 1.3em;
  }
  button{
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: 1.5em 1em;
    font-weight: 700;
    outline: none;
  }
  button:first-child {
    background-color: #721c24;
  }
}
