$border-inp: 1px solid gray;
$color: #009688;
$whiteColor: white;

.grid-list{
  width: 100%;
  height: 100%;
  display: grid;
  grid-row-gap: 0.7em;
  grid-template-columns: 100%;
  grid-template-areas:  "item-list"
                        "add-form";
}

.item-list{
  grid-area: item-list;
  width: 100%;
}

.add-form{
  grid-area: add-form;
  width: 100%;
}

mat-card{
  height: 100%;
}

#check-all{
  color: $color;
  font-weight: 900;
}

.list-cont{
  overflow-y: scroll;
  max-height: 24.7em;
}

mat-list-option{
  width: 80%;
  float: left;
  p{
    text-transform: uppercase;
    display: inline-block;
    float: left;
    font-weight: 700;
    color: $color;
    position: relative;
    z-index: 100;

  }
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    display: inline-block;
  }
  img{
    width: 1.7em;
    height: 1.7em;
    float: right;
  }
}

.show-mod-menu{
  outline: none;
  color: $color;
  height: 48px;
}

.delete-item{
  i {
    font-size: 1.2em;
  }
  color: #721c24;
  font-weight: 500;
  vertical-align: middle;
}

.modify-item{
  i{
    font-size: 1.2em;
  }
  color: #d2a33f;
  font-weight: 500;
  vertical-align: middle;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(62, 62, 62, 0.76);
  top: 0;
  left: 0;
  z-index: 1000000000;
  i{
    position: relative;
    top: 1em;
    right: 1em;
    width: 2%;
    float: right;
    margin: 0.3em;
    cursor: pointer;
    font-size: 2em;
    color: $whiteColor;
  }
}

.pop-up{
  z-index: 1000000001;
  position: fixed;
  left: 30%;
  top: 23%;
  width: 32%;
  text-transform: uppercase;
  text-align: center;
  p {
    color: $color;
    font-weight: 900;
    font-size: 1.3em;
  }
  button{
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: 1.5em 1em;
    font-weight: 700;
    outline: none;
  }
  button:first-child {
    background-color: #721c24;
  }
}

.modify-pop-up{
  text-align: left;
  border: none;
  padding: 1em;
  border-radius: 2px;
  p{
    text-align: center;
    margin-bottom: -0.1em;
  }
}

@media (min-width: 1120px) and (max-width: 1500px) {
  .grid-list{
    grid-column-gap: 0.7em;
    grid-template-columns: 50% 50%;
    grid-template-areas:  "item-list add-form";
  }

  .item-list{
    grid-area: item-list;
  }

  .add-form{
    grid-area: add-form;
  }

  .pop-up{
    left: 25%;
    top: 25%;
    width: 50%;
  }
}

@media(max-width: 1120px) {
  .grid-list{
    grid-column-gap: 0.7em;
    grid-template-columns: 50% 50%;
    grid-template-areas:  "item-list add-form";
  }

  .item-list{
    grid-area: item-list;
  }

  .add-form{
    grid-area: add-form;
  }

  .pop-up{
    left: 10%;
    top: 20%;
    width: 80%;

  }
}
