<div id="check-all" class="list-js">
  <i class="fake-check fa fa-square-o" (click)="clickAllInput()"></i>
  <input hidden type="checkbox" name="memberall" (click)="checkAll()">
  Check all
</div>
<div class="list-cont">
<div class="list list-js" draggable="true" (dragstart)="dragStart($event)" (click)="getInput(member)" *ngFor="let member of spinner; let i = index">
  <a title="{{member.name}}" class="">
    <i class="fake-check fa fa-square-o"></i>
    <input hidden id="{{member._id}}" type="checkbox" name="member" value="{{member.name}}" (click)="addChosenPartsToWheel($event)">{{member.name}}
  </a>
  <img src="assets/{{member.image}}">
</div>
</div>
