<mat-card>
 <form [formGroup]="addForm" novalidate>
    <div class="cont">
      <div class="input-cont">
      <span for="title">Title:</span>
        <mat-form-field class="full-width">
          <input matInput
            id="title"
            autocomplete="off"
            type="text"
            name="title"
            placeholder="Enter a title"
            formControlName="title"
          >
          <mat-error *ngIf="addForm.controls['title'].getError('required')">
            The field shouldn't be empty
          </mat-error>
          <mat-error  *ngIf="addForm.controls['title'].getError('invalid') && !addForm.controls['title'].getError('required')">
            The number of items has exceeded the max value
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
        <input matInput
               id="color"
               autocomplete="off"
               type="color"
               name="color"
               placeholder="Select item color"
               formControlName="color"
        >
        </mat-form-field>
      </div>
      <div class="input-cont">
        <span for="image">Image:</span><br />
        <img #imageCont id="imageCont" class="image-cont" src="/assets/no-image.svg" (click)="chooseImg()"/>
        <input
          hidden
          #image
          id="image"
          type="file"
          accept="image/*"
          name="image"
          formControlName="image"
          (change)="getImage($event)"
        >
        <a title="{{loadImage.name}}" class="image-name">{{loadImage.name}}</a>
      </div>
    </div>
  </form>
  <button class="but-submit" mat-raised-button color="primary" (click)="submit()"><mat-icon>done</mat-icon> Submit</button>
  </mat-card>
