$border-inp: 1px solid gray;
$color: #009688;
$whiteColor: white;

.but-submit {
  width: 100%;
  font-weight: 700;
  border-radius: 0;
  margin-top: 0.5em;
  font-size: 1.2em;
}

.full-width {
  width: 100%;
}

form {
  border-radius: 2px;
  color: $color;
  .cont {
    padding: 0.5em;
  }
}

#title {
  width: 100%;
  outline: none;
}

.image-cont {
  width: 9em;
  height: 7em;
  border: none;
  cursor: pointer;
}

.image-name {
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  max-width: 50%;
}

.input-cont {
  vertical-align: top;
}
