<div class="grid">
  <div class="reel">
    <mat-card>
      <div class="toggle">
        Spinner
        <mat-slide-toggle [color]="color" [(ngModel)]="isWheel">
        </mat-slide-toggle>
        Statistics
      </div>
    <div class="wheel-conatoiner" [hidden]="isWheel">
      <mat-card-header>
        <p><i class="material-icons">rotate_right</i> Spinner</p>
      </mat-card-header>
      <div class="arrow-cont" id="arrow-cont">
        <svg id="arrow" height="18px" version="1.1" viewBox="0 0 24 12" width="36px" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g fill-rule="evenodd" stroke="black" stroke-width="1">
            <g transform="translate(-16.000000, -23.000000)">
              <g transform="translate(28.000000, 28.000000) rotate(-90.000000) translate(-28.000000, -28.000000)">
                <polygon class="arrow" points="32.6666667 16.3333333 21 28 32.6666667 39.6666667"></polygon>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wheel-cont" id="wheel-cont">
        <svg class="svg-spinner-parts" id="wheel"
             (drop)="drop($event)"
             (dragenter)="dragEnter($event)"
             (dragover)="dragOver($event)"
             (dragleave)="dragExit($event)"
             (mousedown)="clickDown()">
        </svg>
      </div>
      <mat-card-actions>
        <button class="btn-spin" mat-raised-button (click)="clickToRotate()" [disabled]="parts.length < 2"><i class="fa fa-repeat"></i> Spin</button>
      </mat-card-actions>
    </div>
    <app-statistics [hidden]="!isWheel"></app-statistics>
    </mat-card>
  </div>
  <div class="item-list">
     <app-item-list [disableItemsList]="disableItemsList"></app-item-list>
  </div>
</div>

<div class="overlay" *ngIf="isPopUp" (click)="isPopUp = false">
  <div class="pop-up">
    <mat-card>
        <p>
          {{spinner.topPositionValue.name}}
        </p>
      <mat-card-content>
        <img src="/assets/{{spinner.topPositionValue.image}}">
      </mat-card-content>
    </mat-card>
  </div>
  <i class="fa fa-remove" (click)="isPopUp = false"></i>
</div>
