<div class="grid">
  <mat-card class="reel">
    <div class="toggle">
      Spinner
      <mat-slide-toggle [color]="color" [(ngModel)]="isWheel">
      </mat-slide-toggle>
      Statistics
    </div>
    <div [hidden]="isWheel">
    <div class="wheel-container" >
      <div class="arrow-cont" id="arrow-cont">
        <svg id="arrow" height="18px" version="1.1" viewBox="0 0 24 12" width="36px">
          <g fill-rule="evenodd" stroke="black" stroke-width="1">
            <g transform="translate(-16, -23)">
              <g transform="translate(28, 28) rotate(-90) translate(-28, -28)">
                <polygon class="arrow" points="32.7 16.3 21 28 32.7 39.7"></polygon>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="wheel-cont" id="wheel-cont">
        <svg class="svg-spinner-parts" id="wheel" version="1.1" viewBox="0 0 750 750"
             (drop)="drop($event)"
             (dragenter)="dragEnter($event)"
             (dragover)="dragOver($event)"
             (dragleave)="dragExit($event)"
             (mousedown)="clickDown()">
        </svg>
      </div>
      <button class="btn-spin" mat-raised-button (click)="clickToRotate()"
              [disabled]="parts.length < 2 || disableBut"><i class="fa fa-repeat"></i> Spin
      </button>
    </div>
    </div>
    <app-statistics [hidden]="!isWheel"></app-statistics>
  </mat-card>
  <app-item-list [disableItemsList]="disableItemsList"></app-item-list>
</div>

<div class="overlay" *ngIf="isPopUp" (click)="statisticsChange()">
  <i>
    <mat-icon>close</mat-icon>
  </i>
</div>

<div class="pop-up"  id="show-selected-item" *ngIf="isPopUp">
  <mat-card>
    <div class="pop-up-header">
      <p><a title="{{spinner.topPositionValue.name}}">{{spinner.topPositionValue.name}}</a></p>
      <button [color]="warn" id="cancel-result-but" mat-raised-button (click)="setIsPopUp(false)"><b>Cancel</b></button>
    </div>
    <mat-card-content>
      <div>
        <img src="/assets/{{spinner.topPositionValue.image}}">
      </div>
      <div>
        <button [color]="color" mat-raised-button (click)="statisticsChange()"><b>OK</b></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

