$border-inp: 1px solid gray;
$color: #009688;
$whiteColor: white;

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

app-item-list {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

.reel {
  flex: 1;
  min-width: 850px;
  margin: 0 0 0.5em 0.5em;
}

@media (max-width: 1530px) {
  .reel {
    min-width: 700px;
  }
  app-item-list {
    min-width: 280px;
  }
}

@media (max-width: 1050px) {
  .reel {
    min-width: 680px;
  }
  app-item-list {
    min-width: 100%;
  }
}

@media (max-width: 700px) {
  .reel {
    min-width: 300px;
  }
}

.wheel-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.arrow-cont {
  display: flex;
  justify-content: center;
  #arrow {
    fill: DarkSeaGreen;
    position: relative;
    z-index: 1000;
  }
}

.svg-spinner-parts {
  user-select: none;
  z-index: 100;
  width: 71%;
}

.wheel-cont {
  margin-top: -1em;
}

.wheel-text {
  width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-spin {
  background-color: $color;
  color: $whiteColor;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding: 0.4em 0;
  margin-top: 2em;
  font-weight: 800;
  z-index: 200;
  &:disabled {
    background-color: #d7d7d7;
    color: $whiteColor;
  }
}

.toggle {
  color: $color;
  min-height: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
  position: relative;
  z-index: 10000;
  display: inline-block;
}

.pop-up {
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  min-width: 22em;
  margin: auto;
  width: 60%;
  padding: 0.5em 0;
  text-align: center;
  z-index: 1000000001;
  .pop-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    color: $color;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;

  }
  img {
    width: 50%;
    margin-bottom: 2em;
  }
  #cancel-result-but {
    margin-left: 1em;
  }
}
