$color: #009688;
$whiteColor: white;

.full-width {
  width: 100%;
}

.but-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .spinner-list-name {
    a  {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    flex-basis: 80%;
    min-width: 0;
  }
  .lock {
    color: #721c24;
  }
}

.list-spinners {
  overflow-y: scroll;
  max-height: 50vh;
  .but-choose {
    color: $color;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.2em 0.5em;
    width: 100%;
    flex-basis: 85%;
    min-width: 0;
  }
  div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    button  {
      flex: auto;
    }
  }
}

p {
  color: $color;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0.2em 1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.isPrivateSpinner {
  color: $color;
  font-size: 0.9em;
}

.add-spinner {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 1em;
  font-weight: 700;
}

@media (max-width: 1530px) {
  .arround {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  form {
    min-width: 35%;
    margin-right: 1em;
    align-self: self-start;
  }

  .list-spinners {
    min-width: 30%;
    max-height: 210px;
  }
  mat-card {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .arround {
    display: block;
  }
  form {
    min-width: 100%;
    margin-right: 0;
  }

  .list-spinners {
    max-height: 300px;
  }
}

.pop-up {
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  min-width: 22em;
  margin: auto;
  width: 33%;
  color: $color;
  z-index: 1000000001;
  p {
    margin-bottom: 0.2em;
    text-align: center;
    color: $color;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .arround-auth {
    font-size: 1.2em;
    padding: 0.5em;
  }
  button {
    margin-top: 0.5em;
  }
}



