$color: #31bbb5;


.container{
  margin-top: 15em;
}

.cont{
  border: 5px solid $color;
  margin: 4% 25% 0 12%;
  p{
    background-color: $color;
    font-size: 1.5em;
    padding: 0.2em 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 0;
  }
  .arround{
    padding: 1em;
    box-shadow: inset 5px 0 10px gray;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:  "error error"
                          "inp-spinners add-spinner"
                          "list-spinners nothing";
  }
}

.error{
  grid-area: error;
}

.inp-spinners{
  grid-area: inp-spinners;
  padding: 0.5em 0 0.5em 0.2em;
  border: 1px solid $color;
  outline: none;
}

.add-spinner{
  grid-area: add-spinner;
  background-color: white;
  border: 1px solid $color;
  color: $color;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  &:hover{
    color: white;
    background-color: $color;
  }
}

.list-spinners{
  grid-area: list-spinners;
}

.nothing{
  grid-area: nothing;
}

.select-spinner{
  padding: 0.3em 0 0.3em 0.3em;
  margin-top: 0.3em;
  font-size: 1.2em;
  border-left: 4px solid black;
  cursor: pointer;
  outline: none;
  &:hover{
    background-color: rgba(49, 187, 181, 0.3);
    border-left: 4px solid $color;
  }
}
