.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.list {
  flex: 1 1 20%;
  min-width: 250px;
  max-width: 70%;
  margin: 0 auto 0.5em auto;
}


@media (max-width: 1530px) {
  .grid {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  .list {
    max-width: 100%;
    margin: 0 0 0.5em 0.5em;
  }
}
