.grid{
  display: grid;
  margin-top: 1em;
  grid-gap: 0.7em;
  grid-template-columns: 19em auto;
  grid-template-areas: "list spinner";
}

.list {
  grid-area: list;
  height: 100%;
}

.spinner {
  grid-area: spinner;
  margin-right: 2em;
}


@media (max-width: 1500px) {
  .grid{
    display: grid;
    margin-top: 1em;
    margin-bottom: 3em;
    grid-gap: 0.7em;
    grid-template-columns: auto;
    grid-template-areas: "list"
                          "spinner";
  }

  .list {
    grid-area: list;
    height: 100%;
    margin-left: 3em;
    margin-right: 3em;
  }

  .spinner {
    grid-area: spinner;
    margin-right: 3em;
    margin-left: 3em;
  }
}
