@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}


.error{
  color: #721c24;
  border-bottom-color: #721c24 !important;
}
