@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-teal);
$my-app-accent:  mat-palette($mat-cyan);
$my-app-warn:    mat-palette($mat-red);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

body{
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
  background-color: #fafafa;
}


.error{
  color: #721c24;
  border-bottom-color: #721c24 !important;
}

.mat-input-invalid .mat-input-placeholder, .mat-error {
  color:  #721c24;
}

.mat-input-invalid .mat-input-ripple {
  background-color:  #721c24;
}

.tooltip{
  display: inline;
  position: relative;
  color: black;
}

.tooltip:hover:after{
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 5px;
  bottom: 26px;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
